.bg-image-card-top {
  background: url("https://wallpapercave.com/wp/wp5752146.png");
}

.translate-middle-top {
  transform: translate(0%,-50%) !important;
}

.avatar-card {
  height: 4rem;
}

.opacity {
  opacity: 0.5;
}

.opacity:hover {
  opacity: 1
}